@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    .mySlides {display: none;}
    /* img {vertical-align: middle;} */
}
:root{
    --primary: #EA9337;
    --secondary:#25282D ;
    --text:#ECEDEE;
    --bg: #444851;
}
.btn{
    border-radius: 0;
    border: 1px solid transparent;
    transition:.3s ease all;
    padding: 0.75rem 2.4rem;
    text-transform: capitalize;
    font-size: 1.15rem;
    letter-spacing: 1px;
}

.btn-2{
    background-color: var(--primary);
    color: #ECEDEE;
}
.btn-2:hover{
    border: 1px solid var(--primary);
    color: var(--primary);
}
.login-container{
    /* width: 100%; */
    /* margin-top: -5rem; */
    height: 100vh;
    background: linear-gradient(0deg, rgba(20, 20, 20, 0.56) 0%, rgba(20, 20, 20, 0.56) 100%), url(../images/modal-bg.png) lightgray 50%  center/cover no-repeat;
    
}
.login-container .btn:hover{
    background-color: var(--primary);
    color: var(--text);
}
.login-container .login-icon{
    display: flex !important;
    gap: 15rem !important;
}
.fa-xmark{
    color: var(--primary);
}
form input{
    width: 50% !important;
}
form .form-div{
    position: relative;
}
form .form-div p{
    background-color: white !important;
    color: var(--primary);
    font-size: 0.75rem;
    position: absolute;
    top: 24%;
    left: 2%;
}
@media (max-width: 250px) {
    .form-div{
        display: flex;
        justify-content: flex-start;
        align-items: start;
        margin-inline: 0 !important;
        padding-inline:  0 !important;
    }
    
    form .form-div p{
        margin-bottom: 2rem !important;
    }
    form input{
        width: 100% !important;
    }
    .login-container .btn{
        width: 50% !important;
    }
}
@media only screen and (max-width: 500px) {
    .login-container .login-icon{
        width: 30% !important;
        margin-inline: auto !important;
        display: flex;
        gap: 2rem !important;
    }
}
@media only screen and (max-width: 576px) {
    
    .login-container .btn{
        padding:.5em!important ;
    }
    .login-container .login-icon{
        width: 40% !important;
        margin-inline: auto !important;
        display: flex;
        gap: 2rem !important;
    }
}

@media (max-width: 768px) {
    form input{
        width: 70% !important;
    }
}
@media (max-width: 992px){
    form input{
        width: 70% !important;
    }
}



/* get started style */
.get-started-container{
    height: 100vh;
    background: linear-gradient(0deg, rgba(20, 20, 20, 0.56) 0%, rgba(20, 20, 20, 0.56) 100%), url(../images/gs-bg.png) lightgray 50%  center/cover no-repeat;
}
.get-started-container .svg-div1{
    border-color: #EA9337;
    background-color: #FDF4EB;
}
.get-started-container .svg-div2{
    border-color: #C5C6C9;
    background-color: #ECEDEE;
}
#svg-1 p{
    color: #EA9337;
}


/* confirm styles */
.confirm-container{
    /* width: 100%; */
    /* margin-top: -5rem; */
    height: 100vh;
    background: linear-gradient(0deg, rgba(20, 20, 20, 0.56) 0%, rgba(20, 20, 20, 0.56) 100%), url(../images/gs-bg.png) lightgray 50%  center/cover no-repeat;
}
.confirm-container .btn{
    background-color: #EA9337;
    color: #ECEDEE;
}
.confirm-container span{
    color: #EA9337;
}
.confirm-container p{
    font-size: 0.75rem;
    font-weight: 700;
}

.confirm-container input{
    color: #C5C6C9;
    background-color: #FDF4EB;
    width: 10%;
}