@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    .mySlides {display: none;}
    /* img {vertical-align: middle;} */
}
:root{
    --primary: #EA9337;
    --secondary:#25282D ;
    --text:#ECEDEE;
    --bg: #444851;
}
footer a{
    text-decoration: none;
    color: #404C77;
} 
li{
    list-style: none;
}

span{
    color: var(--primary);
}
.footer-sec1{
    width: 100% !important;
    height: 70vh !important;
    background-color: var(--primary);
    color: #404C77;
}
.footer-sec1 .container{
    width: 90% !important;
    margin-inline: auto !important;
}
.footer-sec1 .container .container-fluid{
    display: flex;
    gap: 10rem !important;
}
.footer-sec1 .container .left-container{
    display: flex;
    gap: 6rem !important;
}

.footer-sec1 .platforms{
    width: 100% !important;
    display: flex !important;
    justify-content: space-between;
}
.footer-sec1 .languages{
    display: flex;
    justify-content: space-between;
}

.footer-sec1 .languages .language-wrapper{
    width: 90% !important;
    margin-inline: auto !important;
    position: relative;
    margin-top: 0.6rem !important;
}
.footer-sec1 .languages .language-wrapper .dropdown button{
    color: #404C77;
}
.footer-sec1 .languages .whatsapp img{
    width: 5% !important;
    position: absolute;
    top: -70%;
    left: -1%;
}
@media only screen and (max-width: 996px){
    .footer-sec1 .container .left-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem !important;
    }
}
@media only screen and (max-width: 765px){
    .footer-sec1{
        height: 92vh !important;
    }
    
}
@media only screen and (max-width: 460px){
    .footer-sec1{
        width: 100% !important;
        height: 100vh !important;
    }
    .footer-sec1 .container .container-fluid{
        display: flex;
        gap: 5rem !important;
    }
    .footer-sec1 .footer-icons{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}

@media only screen and (max-width: 390px){
    .footer-sec1{
        width: 100% !important;
        height: 130vh !important;
    }
}